
.messages {
    position: absolute;
    display: flex;
    top:10.6em;
   margin-left: 280px;
   justify-content: space-between;
   width: 78em;
   
}



.headersection{
    display: flex;
    position: absolute;
    margin-top: 15em;
    width: 50em;
    margin-bottom:10em;
    margin-left: 20em;
    background-color: rgb(24, 10, 59);
}
.cardbody{
    width: 10em;
}
.firstrow{
    background-color: blue;
}
