

.headersection{
    display: flex;
    position: absolute;
    margin-top: 17em;
    width: 77em;
    margin-bottom:11em; 
    margin-left: 20em;
    /* background-color: rgb(24, 10, 59); */
    padding-top: 25px;
    
}
.recent{
    text-align: center;
    font-size: 14px;
    padding-left: 29em;
    padding-bottom: 14px;
}

.welcome{
    font-size:30px ;
}

.images3{
    margin-bottom: 10px;
}